<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>New Title</title>
</head>
<body>
<div class="container">
    <h1>New Title</h1>
    <form th:action="@{/register}" th:method="post">
        <div class="form-group">
            <label class="control-label">タイトル</label>
            <input class="form-control" type="text" name="title" />
        </div>

        <div class="form-group">
            <label class="axLabel">aのx</label>
            <input class="ax" type="number" name="ax" />
        </div>
        <div class="form-group">
            <label class="ayLabel">aのy</label>
            <input class="ay" type="number" name="ay" />
        </div>
        <div class="form-group">
            <label class="azLabel">aのz</label>
            <input class="az" type="number" name="az" />
        </div>
        <div class="form-group">
            <label class="abbLabel">aのbb</label>
            <input class="abb" type="number" name="abb" />
        </div>
        <div class="form-group">
            <label class="aceLabel">aのce</label>
            <input class="ace" type="number" name="ace" />
        </div>
        <div class="form-group">
            <label class="aeeLabel">aのee</label>
            <input class="aee" type="number" name="aee" />
        </div>


        <div class="form-group">
            <label class="bxLabel">bのx</label>
            <input class="bx" type="number" name="bx" />
        </div>
        <div class="form-group">
            <label class="byLabel">bのy</label>
            <input class="by" type="number" name="by" />
        </div>
        <div class="form-group">
            <label class="bzLabel">bのz</label>
            <input class="bz" type="number" name="bz" />
        </div>
        <div class="form-group">
            <label class="bbbLabel">bのbb</label>
            <input class="bbb" type="number" name="bbb" />
        </div>
        <div class="form-group">
            <label class="bceLabel">bのce</label>
            <input class="bce" type="number" name="bce" />
        </div>
        <div class="form-group">
            <label class="beeLabel">bのee</label>
            <input class="bee" type="number" name="bee" />
        </div>


        <div class="form-group">
            <label class="cxLabel">cのx</label>
            <input class="cx" type="number" name="cx" />
        </div>
        <div class="form-group">
            <label class="cyLabel">cのy</label>
            <input class="cy" type="number" name="cy" />
        </div>
        <div class="form-group">
            <label class="czLabel">cのz</label>
            <input class="cz" type="number" name="cz" />
        </div>
        <div class="form-group">
            <label class="cbbLabel">cのbb</label>
            <input class="cbb" type="number" name="cbb" />
        </div>
        <div class="form-group">
            <label class="cceLabel">cのce</label>
            <input class="cce" type="number" name="cce" />
        </div>
        <div class="form-group">
            <label class="ceeLabel">cのee</label>
            <input class="cee" type="number" name="cee" />
        </div>

        <button class="btn btn-default" type="submit">作成</button>
    </form>
    <div class="pull-right">
        <a class="btn btn-link" href="/players">一覧画面へ</a>
    </div>
</div>
</body>
</html>